<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="securityManager"  
         class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">  
       <!-- <property name="realm" ref="bosRealm" /> -->  
       <!--shiro的执行流程:应用程序代码-SecurityManager-Realm(查询授权和认证数据),所以将EhCache加在Realm之前最合适-->  
       <property name="cacheManager" ref="shiroCacheManager" />  
       <property name="realm" ref="sampleRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
   </bean>  
   
</beans>   